{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="picture">
    <img src="{% static 'background.jpg' %}">
    <div class="main-text">
        <h1>Hello, this is a library management system!</h1>
        <h3>Do you like reading books ?</h3>
        <h3>Do you have spare books in your house?</h3>
        <h3>Offer your books here, in order to take more to read!</h3>
    </div>
</div>
<div class="last">
    <div class="last-3">
        <h1>content</h1>
    </div>
    <div class="last-3">
        <h1>content</h1>
    </div>
    <div class="last-3">
        <h1>content</h1>
    </div>
</div>
{% endblock %}